body    {
    background: url("week-4-game/assets/images/background.jpg");
}

.h4 {
    text-align: justify;
}

.jumbotron   {
    border-radius: 0px;
    text-align: center;
    background-color: seagreen;
    opacity: 50%;
    color: black;
    font-weight: bolder;

}

.container  {
    width: 960px;
}
.game-pic   {
    height: 150px;
    width: 150px;
    margin-left: 60px;
}

#game   {
    width: 900px;
}

.card-text  {
    padding: 10px;
    color: firebrick;
    font-weight: bold;
}

.card-footer1   {
    text-align: left;
}

#end    {
    text-align: center;
}